/* You can add global styles to this file, and also import other style files */
emoji-mart .emoji-mart,
emoji-mart .em-emoji-picker {
  width: 100% !important;
  max-width: 100% !important;
}
/* 
emoji-mart .emoji-mart-scroll,
emoji-mart .em-emoji-picker .em-emoji-picker-body {
  width: 100% !important;
} */

emoji-mart .em-emoji-picker-body {
  max-height: 55vh;
}

emoji-mart .em-emoji-picker .em-emoji-picker-body .em-emoji-category .em-emoji-category-list {
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(40px, 1fr)) !important;
}

emoji-mart .emoji-mart-anchors,
emoji-mart .em-emoji-picker .em-emoji-picker-anchors {
  display: none !important;
}

emoji-mart .emoji-mart-search input,
emoji-mart .em-emoji-picker-search input {
  width: 80% !important;
  padding: 0.8rem !important;
  border-radius: 10px !important;
  font-size: 1.1rem !important;
  border: 1px solid var(--border) !important;
  background: var(--bg) !important;
  color: var(--text) !important;
}

emoji-mart .emoji-mart-search,
emoji-mart .em-emoji-picker-search {
  width: 100% !important;
  padding: 0 !important;
}

